<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
    <!--External Sql ServerName and DBName and UserName and Password-->
    <add key="ExternalServerName" value="DMC-HRMS\HRMSDB" />
    <add key="ExternalDBName" value="BiometricIntegration" />
    <add key="ExternalUserName" value="sa" />
    <add key="ExternalPassword" value="Damas@hrd009" />
    <!--Minimun 10 Minutes and Minutes format only-->
    <add key="Interval" value="01" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>